#py -3.12 -m venv .venv
#.\.venv\Scripts\Activate.ps1
#python -m pip install --upgrade pip

ollama
chromadb

transformers 
accelerate

mlflow
customtkinter

silero-vad
sounddevice
numpy
soundfile
faster-whisper

librosa